.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.heading {
  text-align: center;
  transition: color 0.3s, transform 0.3s;
}
.heading:hover {
  color: #007BFF; /* Change this color to whatever you prefer */
  transform: scale(1.1);
}
.btn {
  background-color: rgb(49, 46, 46); /* Dark color */
  color: white;
  transition: background-color 0.3s, color 0.3s;
  border: none;
  border-radius: 5px;

}

.btn:hover {
  background-color: #007bff; /* Blue color on hover */
  color: white;
}

.card {
 
  padding: 10px;          /* Padding inside the card */
  border-radius: 8px;    
  background-color: white; /* Background color */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Box-shadow for the card */
  transition: box-shadow 0.3s ease-in-out;
}

.card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 1, 0.3); /* Stronger shadow on hover */
}